[submodule "Practice ML/Wine Quality Prediction/3_MultipleLinearREgression"]
	path = Practice ML/Wine Quality Prediction/3_MultipleLinearREgression
	url = https://github.com/Pulak111/Machine-Learning-2.git
